{% load staticfiles %}
<div class="clearfix"></div>
<!--Category Phone-->
<div class="category_iphone">
    <div class="container">
        <div class="row">
            <h3 class="title_deal"> Điện thoại | <a class="view_more" href="#">Xem thêm</a></h3>
            <div class="owl-product-phone owl-carousel owl-theme">
                <div class="item">
                    {% include "snippets/product-grid-item.html" %}
                </div>
            </div>
        </div>
    </div>

</div>
<!--End phone-->